.navbar {
  background-color: black;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background-color: transparent;
  border: none;
}

.nav-items {
  display: flex;
  gap: 10px;
}

.nav-item {
  background-color: transparent;

  border: none;
}

header {
  margin-top: 0px;
}

body {
  background-color: black;
}
