body {
  width: 100%;
  background-color: white;

  margin: 0 auto;
}

.Home {
  padding-top: 50px;
}

header {
  text-align: center;
}

header h2 {
  font-size: 70px;
  color: blue;
  font-weight: 200;
}

.task {
  color: white;

  background-color: #000000;

  padding: 15px;
  margin: 10px;
  overflow-x: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.task:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.7);
}

.icon {
  float: right;
  margin-right: 20px;
  background: transparent;
  transition: transform 0.2s ease;
}
.icon:hover {
  transform: translateY(-3px);
}

article {
  display: grid;
}

.edit-todo {
  width: 85%;
  font-size: 16px;
  color: #ffffff;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: transparent;
}

.tab-button {
  margin: 0 15px;
  padding: 10px;
  font-size: 14px;
  color: black;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  margin-top: 15px;
}

.tab-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.7);
}

.tab-button.selected {
  color: white;
  background-color: black;
}

.tab-button.selected:hover {
  transform: translateY(-1px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.7);
}

.button.clear {
  float: right;
  color: black;
  background-color: #ffffff;
  border: none;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  margin-top: 15px;
  border-radius: 5px;
}

.button.clear:hover {
  transform: translateY(-1px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.7);
  color: white;
  background-color: red;
}

.addTask {
  margin: 0 15px;
  border: #000000;
  padding: 10px;
  font-size: 20px;
  color: black;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  margin-top: 15px;
}

.addTask:hover {
  transform: translateY(-1px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.7);
}
